auto
fontsetups.tex
build
dtxs
biblatex-ext
biblatex-ext.pdf
intype*
textspicts*
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.toc
*.run.xml
*.synctex.gz
*.listing
*.zip
*.oai
howtowrite.md
*.pdf
*.tex~
oaslinks.bib
