name: CI

env:
  TLVERSION: 2022

on:
  push:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron:  '37 14 * * 5'
    - cron:  '11  5 * * 0'

jobs:
  check:
    name: Test
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    # http://man7.org/linux/man-pages/man1/date.1.html
    - name: Get date
      id: get-date
      run: |
        echo "::set-output name=date::$(/bin/date -u "+%Y%m%d")"
      shell: bash

    - name: Cache dependencies
      uses: actions/cache@v2
      with:
        path: |
          /tmp/texlive
          ~/.texlive
        key: texlive${{ env.TLVERSION }}-${{ steps.get-date.outputs.date }}
        restore-keys: texlive${{ env.TLVERSION }}-

    - name: Set up TeX Live
      run: . installsupport/install-texlive.sh

    - name: Run tests
      run: l3build check -q -H  --show-log-on-error

  doc:
    name: Documentation
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    # http://man7.org/linux/man-pages/man1/date.1.html
    - name: Get date
      id: get-date
      run: |
        echo "::set-output name=date::$(/bin/date -u "+%Y%m%d")"
      shell: bash

    - name: Cache dependencies
      uses: actions/cache@v2
      with:
        path: |
          /tmp/texlive
          ~/.texlive
        key: texlive${{ env.TLVERSION }}-${{ steps.get-date.outputs.date }}
        restore-keys: texlive${{ env.TLVERSION }}-

    - name: Set up TeX Live
      run: . installsupport/install-texlive.sh

    - name: Compile documentation
      run: l3build doc -q -H
